
h1 {
  text-align: center;
  font-size: 40px;
  font-family: 'Press Start 2P';
  color: #FFD133;
  background-color: #339CFF;
}

body {
  font-family: Georgia, "Times New Roman", Times, serif;
  text-align: center;
  font-size: 18px;
  color: #333;
}

#start-button {
  text-align: center;
  font-family: 'Press Start 2P';
  font-size: 25px;
  color: #339CFF;
  background-color: #FFD133;
  margin-top: 20px;
}

#movie-A {
  display: inline-block; 
  outline: 1px solid #ff4633;
  height: 425px;
  width: 350px;
}

#vs {
  display: inline-block;
  text-align: center;
  font-size: 20px;
  font-family: 'Press Start 2P';
  color: #FFD133;
  background-color: #339CFF;
  width: 300px;
  margin: 1em;
  
}

#movie-B {
  display: inline-block; 
  outline: 1px solid #FF4633;
  height: 425px;
  width: 350px;
}

#movie-summary-A {
  display: inline-block;
  font-family: Georgia, "Times New Roman", Times, serif;
  text-align: center;
}

#movie-summary-B {
  display: inline-block;
  font-family: Georgia, "Times New Roman", Times, serif;
  text-align: center;
}

ul {
  list-style: none;
}

#button-A {
  text-align: center;
  font-family: 'Press Start 2P';
  font-size: 25px;
  color: #339CFF;
  background-color: #FFD133;
}

#button-B {
  text-align: center;
  font-family: 'Press Start 2P';
  font-size: 25px;
  color: #339CFF;
  background-color: #FFD133;

}

.movieSetMenu {
  text-align: center;
  font-family: 'Press Start 2P';
  font-size: 25px;
  color: white;
  background-color: #339CFF;
  width: 300px;
  margin-left: 200px;
}

.parameterMenu {
  text-align: center;
  font-family: 'Press Start 2P';
  font-size: 25px;
  color: white;
  background-color: #339CFF;
  width: 300px;
  margin-right: 200px;
}

#highscore-button {
  display: inline-block;
  text-align: center;
  font-family: 'Press Start 2P';
  font-size: 25px;
  color: #339CFF;
  outline: 1px solid white;
}

#movieSetMenu {
  display: inline-block;
  text-align: center;
  font-family: 'Press Start 2P';
  font-size: 15px;
  color: #FFD133;
  background-color: #339CFF;
}

#parameterMenu {
  display: inline-block;
  text-align: center;
  font-family: 'Press Start 2P';
  font-size: 15px;
  color: #FFD133;
  background-color: #339CFF;
}

h2 {
  text-align: center;
  font-size: 60px;
  font-family: 'Press Start 2P';
  color: red;
}

h3 {
  text-align: center;
  background-color: #339CFF;
  color: white;
  font-family: 'Press Start 2P';
  width: 300px;
  display: inline-block;
}

#go-home {
  display: inline-block;
  text-align: center;
  font-family: 'Press Start 2P';
  font-size: 25px;
  color: #339CFF;
  background-color: #FFD133;
}

#header {
  margin-bottom: 50px;
  height: 40px;
  padding-bottom: 20px;
}

#game-container{
  display: none;
}

/* #endPage{
  display: none;
} */

#movie-buttons{
  margin-top: -40px;
}

#DisplayHighScores li {
  margin-top:20px;
  list-style: none;
  font-family: 'Press Start 2P';
  font-size: 15px;
}

#gameOver {
  margin: 60px;
}

#go-home {
  margin:50px;
}
